.about {
	width: 60%;
}
.name {
	text-align: center;
}

.dan {
	box-shadow: 2px 2px 2px black;
	border: 5px solid white;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	display: inline-block;
	text-align: center;
}
.darkhr {
	border-color: inherit;
}
section#portfolio {
	background-color: #999999;
}
#portfolio {
	color: white;
	text-shadow: 1px 1px 1px black;
}
.bluehr {
	border-color: #003366;
}
.resume {
	/*display: inline-block;*/
}
.parks {
	background-image: url('img/portfolio/nationalparkscreate.png');
}
#dan-container {
	bottom: 100px;
}

.modal {
	top: 50px;
	right: 50px;
	bottom: 0px;
	left:50px;
}

@media (max-width: 767px) {
	#dan-container {
	bottom: 0px;
}
}