.about {
	width: 60%;
}
.name {
	text-align: center;
}

.dan {
	box-shadow: 2px 2px 2px black;
	border: 5px solid white;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	display: inline-block;
	text-align: center;
}
.darkhr {
	border-color: inherit;
}
section#portfolio {
	background-color: #FF9966;
}
#portfolio {
	color: #003366;
}
.bluehr {
	border-color: #003366;
}
.resume {
	/*display: inline-block;*/
}
.parks {
	background-image: url('img/portfolio/nationalparkscreate.png');
}
